.dcircles {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: var(--general-main-1);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    .dcircles-container {
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 60px); // Account for navigation bar
        flex: 1;
        position: relative;
    }
}
